In [ ]:
## Project:

In [3]:
import pandas as pd
import numpy as np

# Task 1: Creating DataFrames and saving them as CSV formate
employee_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Name": ["John Alter", "Alice Luxumberg", "Tom Sabestine", "Nina Adgra", "Amy Johny"],
    "Gender": ["M", "F", "M", "F", "F"],
    "City": ["Paris", "London", "Berlin", "Newyork", "Madrid"],
    "Age": [25, 27, 29, 31, 30]
}

designation_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005"],
    "Designation Level": [2, 2, 3, 2, 3]
}

project_data = {
    "ID": ["A001", "A002", "A003", "A004", "A005", "A002", "A005", "A003", "A001", "A003", "A001", "A004", "A004", "A005"],
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5", "Project 6", "Project 7", "Project 8", "Project 9", "Project 10", "Project 11", "Project 12", "Project 13", "Project 14"],
    "Cost": [1002000, 2000000, 4500000, 5500000, np.nan, 680000, 400000, 350000, np.nan, 300000, 2000000, 1000000, 3000000, 200000],
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished", "Failed", "Finished", "Failed", "Ongoing", "Finished", "Failed", "Ongoing", "Finished", "Finished"]
}

employee_df = pd.DataFrame(employee_data)
designation_df = pd.DataFrame(designation_data)
project_df = pd.DataFrame(project_data)

employee_df.to_csv("Employee.csv", index=False)
designation_df.to_csv("Seniority.csv", index=False)
project_df.to_csv("Project.csv", index=False)

# Task 2: Replace the missing cost values with running average
costs = project_df["Cost"].copy()
for i in range(len(costs)):
    if pd.isnull(costs[i]):
        costs[i] = np.mean(costs[:i][costs[:i].notnull()])
project_df["Cost"] = costs

# Task 3: Split the Name column into First Name and Last Name accordingly
employee_df["Name"] = employee_df["Name"].astype(str)
employee_df[["First Name", "Last Name"]] = employee_df["Name"].str.split(n=1, expand=True)
employee_df.drop(columns=["Name"], inplace=True)

# Task 4: Merge all three dataframes
final_df = project_df.merge(employee_df, on="ID").merge(designation_df, on="ID")

# Task 5: Add a Bonus column
final_df["Bonus"] = np.where(final_df["Status"] == "Finished", final_df["Cost"] * 0.05, 0)

# Task 6: Demote designation level by 1 for failed projects
failed_employees = final_df[final_df["Status"] == "Failed"]["ID"].unique()
for emp in failed_employees:
    designation_df.loc[designation_df["ID"] == emp, "Designation Level"] += 1
    if designation_df.loc[designation_df["ID"] == emp, "Designation Level"].values[0] > 4:
        designation_df = designation_df[designation_df["ID"] != emp]

# Task 7: Add Mr./Mrs. and remove Gender
final_df["First Name"] = np.where(final_df["Gender"] == "M", "Mr. " + final_df["First Name"], "Mrs. " + final_df["First Name"])
final_df.drop(columns=["Gender"], inplace=True)

# Task 8: Promote designation for employees older than 29
final_df.loc[final_df["Age"] > 29, "Designation Level"] -= 1

# Task 9: Create TotalProjCost dataframe
total_proj_cost = final_df.groupby(["ID", "First Name"]).agg({"Cost": "sum"}).reset_index()
total_proj_cost.rename(columns={"Cost": "Total Cost"}, inplace=True)

# Task 10: Print employees whose city contains 'o'
filtered_employees = final_df[final_df["City"].str.contains("o", case=False, na=False)]
print(filtered_employees)

      ID     Project       Cost    Status     City  Age  First Name  \
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
11  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
12  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name  Designation Level     Bonus
1   Luxumberg                  2       0.0
3       Adgra                  1       0.0
5   Luxumberg                  2       0.0
11      Adgra                  1       0.0
12      Adgra                  1  150000.0

In [ ]:
## Conclusion: 

The final dataset successfully filters employees based on city names containing the letter "o," accurately retrieving relevant records.
Employees such as Alice Luxumberg and Nina Adgra appear in the output, confirming correct implementation of the condition. 
Designation levels were adjusted based on project failures and promotions, ensuring accurate career progression tracking.
Additionally, the bonus calculation correctly applied a 5% incentive for completed projects, as seen in Nina Adgraâ€™s earnings. 
The modification of names by adding "Mr." and "Mrs." was implemented effectively, improving data readability. 
Overall, the project demonstrates strong data manipulation skills using Pandas and NumPy, ensuring proper handling of missing values, 
merging datasets, and applying conditional logic efficiently.